Please try to follow the practices followed in terms of project structure and file naming conventions and all the design patterns, coding standards used in the git repository here https://github.com/code100x/cms.git